body {
    background-color: yellow;
}

/* This is the h1 selector */
h1 {
    font-family: Verdana;
    font-size: 1.7rem;
    background-color: white;
}

p {
    font-family: Verdana;
    font-size: 1.2rem;
    background-color: white;
    max-width: 500px;
}